@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: var(--Violet);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    width: 600px;
    height: 1450px;
    margin: 75px auto 40px;
}

/*----------SECCION UNO----------*/
#seccion1{
    height: 730px;
}
#logo-container{
    width: 280px;
}
#mockup{
    width: 595px;
}
/*----------SECCION DOS----------*/
#seccion2{
    height: 730px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    text-align: center;
    height: 160px;
}
#seccion2 p{
    font-size: 31px;
    text-align: center;
    height: 280px;
}
.btn-register{
    text-align: center;
    margin-bottom: 141px;
}
.btn-register a{
    width: 400px;
    height: 86px;
    border-radius: 50px;
    font-size: 25px;
    color: var(--Violet);
    background-color: #fff;
    display: inline-block;
    padding: 22px;
    text-decoration: none;
}
.btn-register a:hover{
    background-color: var(--SoftMagenta);
    color: #fff;
}
.redes a:hover{
    border-color: var(--SoftMagenta);
    color: var(--SoftMagenta);
    cursor: pointer;
}
.social-container{
    text-align: center;
}
.redes a{
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 30px;
    padding-top: 13px;
}
.redes{
    width: 208px;
    display: inline-flex;
    justify-content: space-between;
}

@media only screen and (min-width:1284px){
    body{
        background-image: url(images/bg-desktop.svg);
        background-size: unset;
    }
    main{
        margin: 13px auto 0;
        width: 1284px;
        height: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /*----------SECCION UNO----------*/
    #seccion1{
        width: 740px;
        height: 700px;
    }
    #logo-container{
        height: 134px;
    }
    #mockup{
        width: 700px;
        margin-top: 50px;
    }
    /*----------SECCION DOS----------*/
    #seccion2{
        height: 700px;
    }
    h1{
        margin-top: 150px;
        height: 133px;
        font-size: 39px;
        text-align: left;
        padding-right: 93px;
    }
    #seccion2 p{
        height: 120px;
        font-size: 18px;
        text-align: left;
        padding: 17px;
    }
    .btn-register{
        text-align: left;
        margin-bottom: 170px;
    }
    .btn-register a{
        width: 200px;
        height: 58px;
        font-size: 20px;
        padding-top: 14px;
        text-align: center;
    }
    .social-container{
        text-align: right;
    }
    .redes{
        width: 156px;
    }
    .redes a{
        width: 44px;
        height: 44px;
        font-size: 22px;
        padding-top: 9px;
        text-align: center;
    }
    footer{
        text-align: center;
    }
}